.Home {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  font-size: 80px;
}

.singlePlayerButton, .MultiplayerButton {
  padding: 15px 30px;
  font-size: 20px;
  transition: all .5s ease;
  color: #fff;
  border: 1px solid white;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  background-color : transparent;
  outline: none;
}

.singlePlayerButton:hover, .MultiplayerButton:hover {
  cursor: pointer;
  color: #001F3F;
  background-color: #fff;
}

.singlePlayerButton {
  margin-bottom: 30px;
}