.cell {
  border: 1px solid #3a3a3c;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  width: 30px;

}

.covered {
  background-color: #121212;
}

.uncovered {
  background-color: #474750;
}