.cell {
  border: 1px solid #000000;
  text-align: center;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
}

.covered {
  background-color: #474750;
}

.uncovered {
  background-color: #121212;
}